<!-- This is the layout file for the application. It contains the HTML structure that will be used for all the views. -->
<!-- The <%- body %> tag is a placeholder where the content of the view will be inserted. -->
<!-- The layout file is used to avoid repeating the same HTML structure in every view. -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mybrary</title>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <%- include('../partials/errorMessage.ejs') %>
    <%- body %>
</body>
</html>